<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #2089E4 !important;box-shadow: 0px 0px 8px rgba(128, 128, 128, 0.438);">
    <a class="navbar-brand" href="#" style="color:white;"><i class="fas fa-film" style="color: white;font-size: 30px;"></i><b>My-Movies</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <button class="button" routerLink="/">Home</button>
        <button class="button" routerLink="/signup">Sign up</button>
        <button class="button" routerLink="/login">Login</button>
      </div>
    </div>
  </nav>