<app-header></app-header>
<!--<div class="row">
    <div class="col-md-12 wrapper d-flex justify-content-center align-items-center" style="height:95vh">
        <div class="row d-flex justify-content-center align-items-center formwrapper card">
            <form name="form" [formGroup] = "form" (ngSubmit) = "form.valid && onSubmit()">
                <div class="col-md-12 mt-4 d-flex flex-row justify-content-center">
                    <div class="m-1">
                        <button class="button" routerLink="/signup">Sign Up </button>
                        <button class="button" routerLink="/login">Login</button>
                    </div>
                </div>
                <div class="col-md-12 d-flex flex-row justify-content-center">
                    <div class="m-1">
                        <input class="input form-control" formControlName="email" [ngClass]="{ 'is-invalid':form.get('email').touched && form.get('email').invalid}" name="email" type="email" placeholder="Email" autocomplete="off" required>
                        <div class="invalid-feedback">
                            <div *ngIf="form.get('email').errors?.required">
                                This Field is required!!
                            </div>
                            <div *ngIf="form.get('email').errors?.email">
                                Enter Valid Email Address!!
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12 d-flex flex-row justify-content-center">
                    <div class="m-1">
                        <input class="input form-control" formControlName="password" [ngClass]="{ 'is-invalid':form.get('password').touched && form.get('password').invalid }" type="password" placeholder="Password" required>
                        <div class="invalid-feedback">
                            <div>
                                This Field is required!!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex flex-row justify-content-center">
                    <div class="mt-4">
                        <p class="danger"><button style="border:none;background-color: transparent;color: #ff4f5a;">Forgot Password ?</button></p>
                    </div>
                </div>
                <div class="col-md-12 mt-2 mb-5 d-flex flex-row justify-content-center">
                    <div class="m-1 mt-4">
                        <button class="button" type="submit" [disabled]="!form.valid">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>-->
<div class="container">
    <div class="row h-100">
        <div class="row d-flex  align-items-center">
        <div class="col-md-6 my-auto image">
            <img src="https://image.freepik.com/free-vector/cute-boy-standing-position-showing-thumb_96037-450.jpg" alt="Boy on Computer">
        </div>
        <div class="col-md-6 my-auto">
            <div class = "container">
                <div class="profile">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnhnkpqR8kJoVqpOXDej-weTgEBgeABIe8jw&usqp=CAU" alt="profile">
                </div>
                <h1 style="text-align: center; font-weight: bold;">WELCOME</h1>
                <div class="form">
                    <form name="form" [formGroup] = "form" (ngSubmit) = "form.valid && onSubmit()">
                        <div class="form-group user">
                            <!--<i class="fas fa-user"></i>-->
                            <div class="m-1">
                                <input class="input form-control" formControlName="email" [ngClass]="{ 'is-invalid':form.get('email').touched && form.get('email').invalid}" name="email" type="email" placeholder="Email" autocomplete="off" required>
                                <div class="invalid-feedback">
                                    <div *ngIf="form.get('email').errors?.required">
                                        This Field is required!!
                                    </div>
                                    <div *ngIf="form.get('email').errors?.email">
                                        Enter Valid Email Address!!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pass">
                            
                            <div class="m-1">
                                
                                <!--<i class="fas fa-lock"></i>-->
                                 <input class="input form-control"  formControlName="password" [ngClass]="{ 'is-invalid':form.get('password').touched && form.get('password').invalid }" type="password" placeholder="Password" required>
                                <div class="invalid-feedback">
                                    <div>
                                        This Field is required!!
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <div class="forgot">
                            <a href="#">Forgot Password?</a>
                        </div>

                        <div class="button">
                            <button  type="submit" class="btn btn-outline-success"  onsubmit ="form.valid">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>