<div class="row d-flex justify-content-center" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center p-0 align-items-center flex-column">
        <h1><b>Waiting to See your Hero on Screen ?</b></h1>
        <h2>Just Make it By an Click !!</h2>
        <br>
        <div class="">
            <!-- <input class="getquote" type="text" placeholder="Parking Slot"> -->
            <button class="getquotebtn btn-warning"(click)='checkSession()' >Book Now</button>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
            <!--https://thumbs.dreamstime.com/b/concept-booking-movie-ticket-men-women-buy-online-application-mobile-phone-tablet-laptop-devices-isometric-d-flat-188578887.jpg-->
            <img  src="https://vectorified.com/image/cinema-ticket-vector-10.jpg" alt="">
        </div>
    </div>
</div>
<br><br><br>
<div class="row">
    <div class="col-md-3 options-primary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="far fa-money-bill-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Economical</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-history" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Fast</p>
    </div>
    <div class="col-md-3 options-primary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-user-shield" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Easy Booking</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-calendar-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>24/7</p>
    </div>
</div>


<div class="row d-flex justify-content-center" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
            <img  src="https://thumbs.dreamstime.com/b/concept-booking-movie-ticket-men-women-buy-online-application-mobile-phone-tablet-laptop-devices-isometric-d-flat-188578887.jpg" alt="">
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center flex-column">
        <h1><b>How It Works?</b></h1>
        <h4>You can easily choose from any tickets you like without going to the actual theatre for cinema ticket booking. You can sit back at home and book in advance whenever the movie tickets booking starts according to your own convenience.<br>
        </h4>
        <br>
        <div>
            <button class="getquotebtn" (click)='checkSession()'>Book Now</button>
        </div>
    </div>
</div>